<?xml version="1.0" encoding="iso-8859-1" ?><definitions>	<define var="SQL_HOTE" value="127.0.0.1" />	<define var="SQL_PORT" value="3306" />	<define var="SQL_DB" value="seeraiwer" />	<define var="SQL_USR" value="root" />	<define var="SQL_PWD" value="" />	<define var="WEBSITE_DNS" value="127.0.0.1" />	<define var="WEBSITE_ROOT" value="/agoraexmachina/web" />	<define var="WEBSITE_404" value="/agoraexmachina/web/404" />	<define var="WEBSITE_TITLE" value="AGORA Ex Machina" />	<define var="WEBSITE_EMAIL" value="agoraexmachina@gmail.Com" />	<define var="WEBSITE_SUBTITLE" value="v0.9 #Narval Unicorne" />	<define var="ENABLE_REDIRECT_404" value="1" />	<define var="ENABLE_MAIL_REGISTRATION" value="0" />	</definitions>