<?xml version="1.0" encoding="iso-8859-1" ?><definitions>	<define var="SQL_HOTE" value="127.0.0.1" />	<define var="SQL_PORT" value="3306" />	<define var="SQL_DB" value="aem" />	<define var="SQL_USR" value="root" />	<define var="SQL_PWD" value="" />	<define var="WEBSITE_DNS" value="127.0.0.1" />	<define var="WEBSITE_ROOT" value="/web" />	<define var="WEBSITE_404" value="/web/404" />	<define var="WEBSITE_TITLE" value="AEM" />	<define var="WEBSITE_SUBTITLE" value="v0.7 #Septentryon " />	<define var="VAR_ENABLE_REDIRECT_404" value="1" /></definitions>